a:link {
color: #dda0dd;
}
a:visited {
color: #d162d1;
}
a:hover {
color: #d162d1;
}

div:empty {
   display: none;
}

div {
	border-color: #dda0dd;
    border-left: thick double #d162d1;
    border-right:thick double #d162d1;
    border-bottom:thick double #d162d1;
    border-top:thick double #d162d1;
}

#frame {
  width:100%;
  display: grid;
  grid-template-columns: 1fr 1fr 1fr;
  grid-template-rows: 0,5fr, 0,5fr, 0.1fr, 1fr;
}

#editAfspraak   { grid-column: 1/2; grid-row: 1/2;   }

#uResponse { grid-column: 2/3; grid-row: 2;  }
#uTijden   { grid-column: 2/3; grid-row: 1/2;  }

#uNaarAfspraak  {	grid-column: 1/2; grid-row: 2/3;	}
#lTijdTable  { grid-column: 3; grid-row: 1/2; }
#uTijdTable    { grid-column: 3; grid-row: 2/3; }

#searchDiv{  grid-column: 1/5; grid-row: 3; }
#uAfspraakTable    { grid-column: 1/5; grid-row: 4;   }

#uAfspraakTable{
	background-color:#a8e7ff;
}
table{
	width:100%;	
}

input{
	width:99%;
}

tr:hover {background-color:#d162d1}

th{
	height:20px;
	float:center;
	width:auto;
}

tr{
	border-bottom:1px solid #000000;
	background-color:#dda0dd
}

td{
	vertical-align:bottom;
	border-bottom:1px solid #ddd;
}